<template lang="pug">
  section
    .payment-card
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      submitStatus: null,
      taskTitle: '',
      taskDescription: '',
      whatWatch: 'Film',

      // Total Time
      // Film
      filmHours: 1,
      filmMinutes: 30,
      // Serial
      serialSeason: 1,
      serialSeries: 11,
      serialSeriesMinutes: 40,

      // Tags
      tagTitle: '',
      tagMenuShow: false,
      tagsUsed: []
    }
  },
  validations: {
    taskTitle: {
      required
    }
  },
  methods: {
    // Add New Tag
    newTag () {
      if (this.tagTitle === '') {
        return
      }
      const tag = {
        title: this.tagTitle,
        use: false
      }
      this.$store.dispatch('newTag', tag)
      // Reset
      this.tagTitle = ''
    },

    // Add Used Tag
    addTagUsed (tag) {
      tag.use = !tag.use
      if (tag.use) {
        this.tagsUsed.push({
          title: tag.title
        })
      } else {
        this.tagsUsed.splice(tag.title, 1)
      }
    },

    // Submit NEW TASK
    onSubmit () {
      this.$v.$touch()

      if (this.$v.$invalid) {
        console.log('ERROR')
        this.submitStatus = 'ERROR'
      } else {
        // Vaild
        console.log('SEND')
        this.submitStatus = 'PENDING'

        // Firebase waiting
        setTimeout(() => {
          this.submitStatus = 'OK'
        }, 500)

        // Time
        let time
        if (this.whatWatch === 'Film') {
          time = this.filmTime
        } else {
          time = this.serialTime
        }

        // Task
        const task = {
          title: this.taskTitle,
          description: this.taskDescription,
          whatWatch: this.whatWatch,
          time,
          tags: this.tagsUsed,
          completed: false,
          editing: false
        }
        this.$store.dispatch('newTask', task)

        // Reset
        this.taskTitle = ''
        this.taskDescription = ''
        // Reset $v (validate)
        this.$v.$reset()

        // Reset for Tags
        this.tagMenuShow = false
        this.tagsUsed = []
        this.tagTitle = ''

        for (let i = 0; i < this.tags.length; i++) {
          this.tags[i].use = false
        }
      }
    },

    // Total Time
    getHoursAndMinutes (minutes) {
      let hours = Math.trunc(minutes / 60)
      let min = minutes % 60
      return hours + ' Hours ' + min + ' Minutes'
    }
  },
  computed: {
    tags () {
      return this.$store.getters.tags
    },

    // Total Time
    filmTime () {
      let min = (this.filmHours * 60) + (this.filmMinutes * 1)
      return this.getHoursAndMinutes(min)
    },
    serialTime () {
      let min = this.serialSeason * this.serialSeries * this.serialSeriesMinutes
      return this.getHoursAndMinutes(min)
    }
  }
}
</script>

<style lang="stylus" scoped>
  //
  // Options
  //
  .option-list
    display flex
    align-items center
    margin-bottom 20px
    .what-watch--radio
      margin-right 12px
    input
      margin-bottom 0
    label
      margin-right 20px
      margin-bottom 0
      &:last-child
        margin-right 0

  //
  // Total time
  //
  .total-time
    margin-bottom 20px

  .time-title
    display block
    margin-bottom 6px

  .time-input
    max-width 80px
    margin-right 10px

  //
  // Tags
  //
  .tag-list
    margin-bottom 20px

  .ui-tag__wrapper
    margin-right 18px
    margin-bottom 10px
    &:last-child
      margin-right 0

  .ui-tag
    &.used
      background-color: #444ce0
      color #fff
      .button-close
        &:before,
        &:after
          background-color: #fff
    .button-close
      &.active
        transform: rotate(45deg)

  // Tag Menu Show
  .tag-list--menu
    display flex
    justify-content space-between
    align-items center

  // New Tag Input
  .tag-add--input
    margin-bottom 0
    margin-right 10px
    height 42px

  //
  // Total Time
  //
  .total-time
    p
      margin-bottom 6px
    span
      margin-right 16px
    .task-input
      max-width 80px
      margin-bottom 28px
      margin-right 10px

  .button-list
    display flex
    justify-content flex-end

  //
  // Validate
  //
  .form-item
    .error
      display none
      margin-bottom 8px
      font-size 13.4px
      color #fc5c65
    &.errorInput
      .error
        display block

  input
    &.error
      border-color #fc5c65
</style>
