<template lang="pug">
  .payment-action.error
    .error__icon
      img(src="../assets/img/error.png", width="40px", height="40px")
    span Ошибка платежа
    p Попробуйте еще раз
    router-link(to="/")
      button(
        @click="$store.dispatch('update', {name: 'readonly', value: false})"
      ) Повторить
</template>

<script>
export default {
  data () {
    return {
      filter: 'active'
    }
  },
  computed: {
  }
}
</script>

<style lang="stylus" scoped>
  .error
    display flex
    flex-direction column
    align-items center
    &__icon
      width 70px
      height 70px
      border-radius 50%
      background-color red
      margin 20px auto
      align-items center
      justify-content center
      display flex
    p
      font-size 12px
    a
      color white
      text-decoration none
</style>
