<template lang="pug">
  .payment-action
    .pay
      input(
        placeholder='СУММА ПЛАТЕЖА'
        type="number"
        v-model="amount"
        @input="findCommission"
        required
      )
      .pay_amount
        p Комиссия
        p {{ commission }}т
      .pay_amount
        p Итоговая сумма
        p {{result}}т
      button(
        :disabled="loader"
        type="submit"
      ) Оплатить
        img(
          v-show="loader === true"
          src='../assets/img/spinner.gif',
          width='30px',
          height='30px'
        )
      .pay_block
        input(
          type="checkbox"
          isChecked="agreed"
          required
        )
        p Я ознакомлен и присоединяюсь
          span  к договору
      p Комиссия может быть удержана банком эмитентом карты отправителя
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {
    result () {
      return parseInt(this.amount ? this.amount : 0) + parseInt(this.commission ? this.commission : 0)
    },
    loader () {
      return this.$store.getters.loader
    },
    amount () {
      return this.$store.getters.amount
    },
    commission () {
      return this.$store.getters.commission
    },
    agreed () {
      return this.$store.getters.agreed
    }
  },
  methods: {
    findCommission: function (event) {
      this.$store.dispatch('update', {name: 'amount', value: event.target.value})
      if (event.target.value) {
        this.$store.dispatch('update', {name: 'commission', value: (this.amount / 100) > 500 ? (this.amount / 100) : 500})
      } else this.$store.dispatch('update', {name: 'commission', value: 0})
    }
  }
}
</script>

<style lang="stylus" scoped>
  .pay
    display flex
    flex-direction column
    align-items center
    width 200px
    margin 0 auto
    button
      margin 5px 0
      display flex
      align-items center
      justify-content center
    p, span
      font-size 12px
      margin 5px 0
    span
      color #de3535
      cursor pointer
    &_amount
      width 100%
      display flex
      justify-content space-between
    &_block
      display flex
    input
      height 30px
      line-height 30px;
      width 200px
      border 1px solid #000000
      text-align center
      border-radius 20px
      margin-bottom 10px
      outline none
    input[type=checkbox]
      width 10px

</style>
