<template lang="pug">
  .payment-action
    .success
      .success__icon
        img(src="../assets/img/success.png", width="30px", height="40px")
      span Перевод совершен
      p Отправитель: {{card.holder}}
      p Сумма: {{amount}}тг
      p Комиссия: {{commission}}тг
      button(
        @click="resetData"
      ) Ок
</template>

<script>
export default {
  data () {
    return {
      filter: 'active'
    }
  },
  computed: {
    card () {
      return this.$store.getters.card
    },
    amount () {
      return this.$store.getters.amount
    },
    commission () {
      return this.$store.getters.commission
    }
  },
  methods: {
    async resetData () {
      this.$router.push({ name: 'pay' })
      this.$router.go()
    }
  }
}
</script>

<style lang="stylus" scoped>
  .success
    display flex
    flex-direction column
    align-items center
    &__icon
      width 70px
      height 70px
      border-radius 50%
      background-color #59de22
      margin 20px auto
      align-items center
      justify-content center
      display flex
    span
      margin-bottom 10px
    p
      font-size 12px
      margin 0
    button
      margin-top 10px
    a
      color white
      text-decoration none
</style>
