// utils
@import 'utils/mixin.styl'
@import 'utils/vars.styl'

// base
@import 'base/animation.styl'

@import "card.styl"
@import "adaptive.styl"

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

.wrapper
    display: flex;
    height: 100vh;

.container
    display: inline-block;
    vertical-align: middle;
    width: 100%
    max-width: maxWorkWidth
    margin: auto
    flex-wrap: wrap
    justify-content: space-between

.payment-card
    width: 60%
    min-height: 400px
    float: left
    position: relative
    clear: both

.payment-action
    width: 40%
    float: right
    text-align: center
    span, p
      color: grayFontColor
      font-size: rem(mainFontColor)
    button
      background-color: red-color
      color: white
      width: 200px
      height: 30px
      text-transform: uppercase
      font-size: rem(mainFontColor)
      border-radius: 20px
      outline: none
      border: none
      cursor: pointer





@media screen and (max-width: tableWidth)
  .card
    width: 90%
    float: none

@media screen and (max-width: 560px)
  .payment-card
    width: 100%
    float: none
  .payment-action
    width: 100%
    float: none

@media screen and (max-width: smPhoneWidth)
  .payment-card
    width: 100%
    float: none
  .payment-action
    width: 100%
    float: none
  .card__date
    width: 50%
  .card__holder
    width: 50%
