<template lang="pug">
  .wrapper
    form.container(
        @submit.prevent="submit"
      )
      .payment-card
        .card.card_front
          .card__header
            img(src='./assets/img/visa.png', width='60px', height='30px')
            img(src='./assets/img/master.png', width='50px', height='30px')
            img(src='./assets/img/maestro.png', width='50px', height='30px')
          .card__middle
            p НОМЕР КАРТЫ
            .card__middle__input
              input(
                ref="card_number1"
                v-model="card.number1"
                name="number1"
                @input="changeFocus($event, 'card_number2', 4)"
                maxlength="4"
                minlength="4"
                :readonly="readonly"
                required
              )
              input(
                ref="card_number2"
                v-model="card.number2"
                name="number2"
                @input="changeFocus($event, 'card_number3', 4)"
                maxlength="4"
                minlength="4"
                :readonly="readonly"
                required
              )
              input(
                ref="card_number3"
                v-model="card.number3"
                name="number3"
                @input="changeFocus($event, 'card_number4', 4)"
                maxlength="4"
                minlength="4"
                :readonly="readonly"
                required
              )
              input(
                ref="card_number4"
                v-model="card.number4"
                name="number4"
                @input="changeFocus($event, 'card_month', 4)"
                maxlength="4"
                minlength="4"
                :readonly="readonly"
                required
              )
            .card__bottom
              .card__holder
                p ИМЯ НА КАРТЕ
                input(
                  ref="card_holder"
                  type="text"
                  name="holder"
                  v-model="card.holder"
                  :readonly="readonly"
                  @input="updateCard('holder', uppercaseLetters($event.target.value))"
                  required
                )
              .card__date
                p СРОК ДЕЙСТВИЯ
                .card__date-inline
                  input(
                    ref="card_month"
                    v-model="card.month"
                    maxlength="2"
                    minlength="2"
                    name="month"
                    @input="changeFocus($event, 'card_year', 2)"
                    :readonly="readonly"
                    required
                  )
                  span /
                  input(
                    ref="card_year"
                    v-model="card.year"
                    @input="changeFocus($event, 'card_ccv', 2)"
                    maxlength="2"
                    minlength="2"
                    name="year"
                    :readonly="readonly"
                    required
                  )
        .card.card_back
          .card_back__line
          .card_back__bottom
            p CCV/CVC
            input(
              ref="card_ccv"
              name="ccv"
              type="password"
              v-model="card.ccv"
              @input="changeFocus($event, 'card_holder', 3)"
              maxlength="3"
              minlength="3"
              :readonly="readonly"
              required
            )
      router-view
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {
    loader () {
      return this.$store.getters.loader
    },
    card () {
      return this.$store.getters.card
    },
    readonly () {
      return this.$store.getters.readonly
    }
  },
  methods: {
    changeFocus: function (event, refs, length) {
      this.updateCard(event.target.name, this.numericOnly(event.target.value))
      if (event.target.value.length === length) this.$refs[refs].focus()
    },
    submit: function () {
      this.$store.dispatch('update', {name: 'loader', value: true})
      this.$store.dispatch('update', {name: 'readonly', value: true})
      setTimeout(() => {
        this.$store.dispatch('update', {name: 'loader', value: false})
        if (Math.floor(Math.random() * 2)) this.$router.push({ name: 'error' })
        else this.$router.push({ name: 'success' })
      }, 1000)
    },
    updateCard: function (name, value) {
      this.$store.dispatch('updateCard', {name, value})
    },
    numericOnly: function (value) {
      return value.replace(/\D+/g, '')
    },
    uppercaseLetters: function (value) {
      if (!value) return ''
      return value.replace(/[^a-zA-Z\s]+/g, '').toUpperCase()
    }
  }

}
</script>

<style lang="stylus">
@import './assets/stylus/main.styl'
.card
  border-radius: 15px
  height: 230px
  width: 380px
  color: mainFontColor
  box-sizing: border-box
  font-size: rem(mainFontSize)
  max-width: 400px
  input
    border: none
    background-color: red-dark-color
    border-radius: 5px
    outline: none
    padding: 0 10px
    color: white
  p
    color: default-color
    text-transform: uppercase
    margin-bottom: 8px
  &__header
    text-align: right
    img
      margin-left: 10px
  &__middle
    height: 40px
    width: 100%
    &__input
      display: flex
      justify-content: space-between
    input
      height: 35px
      width: 15%
  &__bottom
    width: 100%
    display: flex
    justify-content: space-between
  &__holder
    width: 55%
    input
      width: 90%
      height: 30px
  &__date
    width: 45%
    &-inline
      display: flex
      justify-content: flex-end;
    p
      text-align: right
    span
      margin: 0 10px
      line-height: 30px
    input
      width: 20%
      height: 30px

.card_front
  background-color: red-color
  position: absolute
  z-index: 1
  padding: 15px

.card_back
  background-color: gray-color
  position: absolute
  top: 80px
  left: 30px
  z-index: 0
  padding-top: 50px

  &__line
    width: 100%
    height: 50px
    background-color: black-color

  &__bottom
    text-align: right
    padding 0 15px
    position: absolute
    bottom: 15px
    right: 15px
    display: flex
    align-items: center
    p
      margin-right: 10px
      line-height: 30px
    input
      width: 60px
      height: 30px
</style>
